/bitrix/*
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
.idea/*
/upload
/vendor
yandex_*.html
google*.html
sitemap*.xml
composer.phar
restore.php
*.log
*.sql
*.txt
*.xml
*.dt
*.swp
*.swo
*.DS_Store
*.gitignore
